{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-md-4">
        {% if form.errors %}
        <p>some information might be incorrect</p>
        {% endif %}
        <div class="panel panel-default">
            <div><img class="instalogo" src="https://cdn130.picsart.com/259430940027212.png?r1024x1024"></div>

            <div class="panel-heading">
                <h3 class="text-center">Sign Up</h3>
            </div>
            <div class="panel-body">
                 <form action="/accounts/register/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-sm" value="sign Up">
                    </div>
                    <input type="hidden" name="next" value="">
                            <div class="border-top pt-3">
                        <small class="">
                             <a href="/accounts/login">Have an Account?! SignUp</a>
    
                        </small>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}